<div class="row">
  <div class="col-12">
    <table style="width:100%">
      <tr>
        <td>Name</td>
        <td><%= @contact.name%></td>
      </tr>
      <tr>
        <td>Address</td>
        <td><%= @contact.address%></td>
      </tr>
      <tr>
        <td>Phone number</td>
        <td><%= @contact.phone_number%></td>
      </tr><tr>
        <td>Email address</td>
        <td><%= @contact.email_address%></td>
      </tr>
      </table>
      <form action="/favorites" method="post">
        <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <button type="submit" name="id" value=<%= @contact.id%>>Mark as favorite</button>
      </form>
      <a href="/">Back to home</a>
  </div>
</div>
