<div class="row">
  <div class="col-12">
    <h2>Create user</h2>
    <%= form_for @my_user do |f| %>
    <%= f.label :name%>
    <br>
    <%= f.text_field :name%>
    <br>
    <%= f.label :password%>
    <br>
    <%= f. text_area :password%>
    <br>
    <%= f.button%>
  <% end %>
  </div>
</div>
