<div class="row">
  <div class="col-12">
    <% @found_movies.each do |movie|%>

      <img src=<%=movie.poster%> alt="">

      <br>
      <%= movie.title%>
      <br>
      <%= movie.year%>
      <br>
      <%= movie.plot_summary%>
      <br>
      <%= form_for @my_movie do |f|%>
        <%= f.hidden_field :poster, value: movie.poster %>
        <%= f.hidden_field :title, value: movie.title %>
        <%= f.hidden_field :year, value: movie.year %>
        <%= f.hidden_field :synopsis, value: movie.plot_summary %>
        <%= f.button "Start discussion"%>
      <%end%>
    
    <%end%>
  </div>
</div>
