<html>
<head>
  <title>Blog</title>
  <link rel="stylesheet" href="/style.css" media="screen" title="Style.css" charset="utf-8">
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" media="screen" title="Style.css" charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
</head>
<body>
  <div class="content">
    <h1>This is my blog!</h1>
    <br>
    <h3><a href=""><%= @posts[@id].title %></a></h3>
    <p>
    <%= @posts[@id].text %>
    </p>
    <p>
      Category: <%= @posts[@id].category %>
    </p>
    <p>
      By <b><%= @posts[@id].author.capitalize %></b>
    </p>
    <p>
      <em><%= @posts[@id].date.strftime('%Y-%m-%d') %></em>
    </p>
    <a href="/"><button type="button" name="button"><i class="fa fa-home"></i>&nbsp;&nbsp;Back to home</button></a>
  </div>

</body>
</html>
